* {
    box-sizing: border-box;
}

body {
    background-color: rgb(88, 8, 62);
}

.container {
    width: 900px;
    height:auto;
    margin:auto;
    background-color: rgb(25, 235, 35);
    border:2px solid black;
    border-radius: 15px;
    align-content: center;
}

.content {
    width: 870px;
    height:auto;
    margin:auto;
    margin-bottom: 15px;
    background-color: bisque;
    border: 2px solid rgb(186, 99, 59);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color:rgb(29, 86, 15);
}

h3 {
    padding-left: 20px;
}

button {
    background-color: green;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(29, 86, 15);
}

table, td {
    border: 2px solid rgb(29, 86, 15);
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.game {
    width: 870px;
    height:auto;
    margin:auto;
    margin-bottom: 15px;
    background-color: bisque;
    border: 2px solid rgb(186, 99, 59);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color:rgb(29, 86, 15); 
}

.kuvat {
    margin:auto;
}

.kehys  {
    float:left;
    border: 1px solid rgb(29, 86, 15);
    width: 120px;
    height: 120px;
    background-color: antiquewhite;
    padding:5px;
    margin:30px;
}

#pelaa {
    background-color: rgb(185, 21, 174);
    padding: 20px;
    font-size: 28px;
    border-radius: 5px;
    position:relative;
    float:right;
}

#pelaa:hover {
    background-color: rgb(116, 17, 88);
}