* {
    box-sizing: border-box;
}

body {
    background-color: rgb(88, 8, 62);
}

.container {
    margin:auto;
    width: 900px;
    height:fit-content;
    background-color: rgb(25, 235, 35);
    border:2px solid black;
    border-radius: 15px;
}

.content {
    margin: auto;
    width: 865px;
    height:fit-content;
    background-color: bisque;
    border: 2px solid rgb(186, 99, 59);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color:rgb(29, 86, 15);
    margin-bottom: 15px;
    overflow: auto;
}

.otsikot {
    float:left;
}

h3 {
    padding-left: 20px;
}

button {
    background-color: green;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(29, 86, 15);
}

table {
    float:right;
    margin: 15px
}

table, td {
    border: 2px solid rgb(29, 86, 15);
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.game {
    margin:auto;
    width: 865px;
    height: fit-content;
    margin-bottom: 15px;
    background-color: bisque;
    border: 2px solid rgb(186, 99, 59);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color:rgb(29, 86, 15); 
    overflow: auto;
}

.kuvat {
    margin:auto;
    width:650px;
}

.kehys  {
    border: 1px solid rgb(29, 86, 15);
    width: 120px;
    height: 120px;
    background-color: antiquewhite;
    padding:8px;
    margin:15px;
}

.buttons {
    margin:auto;
    width:650px;
}

#nappi1, #nappi2, #nappi3, #nappi4 {
    width:120px;
    margin:15px;
    margin-top: 0;
}

#pelaa {
    background-color: rgb(185, 21, 174);
    margin: 10px;
    padding: 18px;
    font-size: 28px;
    border-radius: 5px;
    float:right;
}

#pelaa:hover {
    background-color: rgb(116, 17, 88);
}

#voitto {
    text-align: center;
}